
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {
    background: linear-gradient(150deg, #00feba, #5b548a);
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 15px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 100px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 500;
}

.weather h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 20px;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.Humidity {
    font-size: 20px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    color: rgb(147, 42, 42);
    margin-top: 12px;
    display: none;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        padding: 30px 20px;
        border-radius: 0;
    }
    
    .search {
        flex-direction: column;
    }
    
    .search input {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .search button {
        width: 100%;
        margin-right: 0;
        font-size: 14px;
    }
    
    .weather-icon {
        width: 80px;
        margin-top: 20px;
    }
    
    .weather h1 {
        font-size: 40px;
    }
    
    .weather h2 {
        font-size: 25px;
    }
    
    .col img {
        width: 25px;
    }
    
    .Humidity {
        font-size: 16px;
    }
}
